@tailwind base;
@tailwind components;
@layer components{
  .bn{
    @apply text-center flex items-center justify-center  h-[5vh] w-[15vw] rounded-md text-white
           shadow-md 
          shadow-black/30 
               hover:brightness-110 
               text-white px-6 py-2 rounded-xl transition
               hover:scale-105
  }
  .icon{
    @apply hover:text-sky-500 sm:text-xl text-sm
  }
  .part{
     @apply flex flex-col h-[25vh] sm:h-[41vh] w-full lg:w-1/3 gap-1  m-1 shadow-md border border-black rounded-2xl shadow-black/40 
  }
  .im{
   @apply sm:h-[22vh] h-auto w-[100em] sm:rounded-t-2xl rounded-t-md bg-cover
  }
  .sub{
   @apply  flex flex-col items-center gap-1
  }
    .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide{
    @apply text-black/50 text-sm  mb-2
  }
  .course{
    @apply bg-gray-200/60 w-auto px-1 m-1 hover:bg-orange-500/20 rounded-md
  }
 .hea {
  @apply text-black text-xl absolute  left-3 font-sans  tracking-tight;
}

}
@tailwind utilities
